.table{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
    border-radius: 20px;
    width: 100px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: aqua;
}

.card img{
    max-width: 100px;
    max-height: 200px;
}

.card .face{
    display: none;
}

.win{
    opacity: .2;
}